@media screen and (max-width: 660px) {
  .cart {
    width: 15rem;
  }
  p {
    margin: 0;
  }
}
@media screen and (max-width: 1260px) {
  .cart {
    display: flex;
    flex-direction: column;
  }
}
